.field-image_upload .image-ctn, .field-multilingual_image_upload .image-ctn {
	max-width: 100%;
	box-sizing: border-box;
	width: calc(100% - var(--standard-inner-rhythm) * 2);
	padding-top: 55%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: var(--standard-inner-rhythm);
	left: 0;
	right: 0;
}

.field-image_upload img, .field-multilingual_image_upload img {
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
	position: absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	margin: auto;
}

.field-image_upload:not([data-image]) button,
.field-multilingual_image_upload:not([data-image]) button {
		display: none;
}

/* Occupy needed space for image to minimize interface jank --------*/
.field-image_upload[data-image="yes"]:after,
.field-multilingual_image_upload div[data-image="yes"]:first-of-type:after,
.js-active .field-multilingual_image_upload div[data-image="yes"]:after {
	content: "";
	display: block;
	width: auto;
	padding-top: 55%;
	border: 1px dotted var(--color-main-lighter);
	margin: var(--standard-inner-rhythm);
	margin-top: calc(var(--compensate-for-inner-field-label) + var(--standard-inner-rhythm));
	clear: both;
	border-radius: var(--radius-small);
}


html:not(.js-active) .field-image_upload[data-image="yes"]:before,
html:not(.js-active) .field-multilingual_image_upload div[data-image="yes"]:first-of-type:before {
	content: url("data:image/svg+xml,%3Csvg version='1.1' id='L2' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 100 102' width='30' height='30' enable-background='new 0 0 100 100' xml:space='preserve'%3E%3Ccircle fill='none' stroke='%23D9E9FF' stroke-width='6' stroke-miterlimit='10' cx='50' cy='50' r='48'/%3E%3Cline fill='none' stroke-linecap='round' stroke='%23D9E9FF' stroke-width='6' stroke-miterlimit='10' x1='50' y1='50' x2='85' y2='50.5'%3E%3CanimateTransform attributeName='transform' dur='2s' type='rotate' from='0 50 50' to='360 50 50' repeatCount='indefinite' /%3E%3C/line%3E%3Cline fill='none' stroke-linecap='round' stroke='%23D9E9FF' stroke-width='6' stroke-miterlimit='10' x1='50' y1='50' x2='49.5' y2='74'%3E%3CanimateTransform attributeName='transform' dur='15s' type='rotate' from='0 50 50' to='360 50 50' repeatCount='indefinite' /%3E%3C/line%3E%3C/svg%3E");
	position: absolute;
	width: max-content;
	height: max-content;
	top: calc(var(--compensate-for-inner-field-label) + var(--standard-inner-rhythm));
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}


/* Position image in already occupied space --------*/
.field-image_upload[data-image="yes"] .image-ctn,
.field-multilingual_image_upload div[data-image="yes"] .image-ctn {
	position: absolute;
	margin-top: calc(var(--compensate-for-inner-field-label) + var(--standard-inner-rhythm) * 2 - 2px);
}

/* Simulate standardized space with border on file upload --------*/
.field-image_upload:not([data-image="yes"]) .image-ctn,
.field-multilingual_image_upload div:not([data-image="yes"]) .image-ctn {
	border: 1px dotted var(--color-main-lighter);
	margin-top: calc(var(--compensate-for-inner-field-label) + var(--standard-inner-rhythm));
}
