.field-image_upload .image-ctn, .field-multilingual_image_upload .image-ctn {
	max-width: 100%;
	box-sizing: border-box;
}

.field-image_upload button, .field-multilingual_image_upload button {
	float: right;
}

.field-image_upload button+*:not(button), .field-multilingual_image_upload button+*:not(button) {
	clear: right;
}

.field-image_upload img, .field-multilingual_image_upload img {
	max-width: 100%;
	max-height: 30vh;
	object-fit: contain;
	margin-right: auto;
}